body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #87ceeb, #1e90ff);
    text-align: center;
    color: white;

}
h1{
    font-size: 3em;
    margin: 20px 0;
    transition: color 1s, transform 1s;
}
h1:hover{
    color: yellow;
    transform: scale(1.2);
}
.scene{
    position: relative;
    height:400px ;
    overflow: hidden;

}
.sun{
    position:absolute;
    top: 40px;
    right: 50px;
    width: 100px;
    height: 100px;
    background: yellow;
    box-shadow: 0 0 50px yellow;
    border-radius: 50%;
    transition: background-color 5s transform 2s;

}
.sun:hover{
    background-color: orange;
    transform: scale(1);
}
.cloud{
    position: absolute;
    top:80px;
    width: 120px;
    height: 60px;
    background: white;
    border-radius: 50%;
    transition: transform 3s ease-in-out;
}
.cloud::before,.cloud::after{
    content:'';
    position: absolute;
    background:white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -20px;
}
.cloud::before{
    left: -40px;
}
.cloud::after{
    right: -40px;
}
.cloud1{
    left: 50px;
}
.cloud2{
    left: 250px; top: 120px;
}
.cloud:hover{
    transform: translateX(150px);
}

.ocean{
  position:relative;
  height:200px;
  background:linear-gradient(to top, #00008b, #1e90ff);
  overflow: hidden;
  
}
.fish{
  position:absolute;
  bottom:50px;
  left:-100px;
  width: 100px;
  height: 50px;
  background-color: orange;
  border-radius: 50px 50px 50px 0;
  transform:rotate(10deg);
  animation: swim 10s linear infinite;

}


.fish {
  position: absolute;
  bottom: 50px;
  left: -100px;
  width: 100px;
  height: 50px;
  background-color: orange;
  border-radius: 50px 50px 50px 0;
  transform: rotate(10deg);
  animation: swim 10s linear infinite;
}
.fish::after{
  content:"";
  position:absolute;
  left:-30px;
  top:5px;
  width:0;
  height:0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 35px solid orange;

}

.fish::before{
  content:"";
  position:absolute;
  right:15px;
  top:10px;
  width:12px;
  height: 12px;
  background-color: rgb(10, 10, 10);
  border-radius: 50%;
  box-shadow: 3px 3px 0 0 rgb(249, 249, 249);
}

@keyframes swim{
  0%{left:-120px;}
  100%{left:100%}
}

footer{
  background: #020230;
  color:white;
  padding:15px 0;
  text-align: center;
  font-size:1 em;
  margin-top:30px;
}
footer p{
  margin:0;
  opacity:0.8;
}
@media (max-width:600px){
  h1{
    font-size: 1 em;
  }
  .scene{
    height:250px;
  }
  .sun{
    width:70px;
    height:70px;
  }
  .cloud{
    translate:scale(0.7);
  }
  .ocean{
    height:150px;
  }
  .fish{
    width:70px;
    height:35px;
  }
  p{
    font-size:0.9em;
    padding:0 15px;
  }
}

